/*** Client want pixel perfect Design on the site. For current pages. ***/
/*** its hard coded for All PAges ***/
.no-margin-important {
    margin:0 !important;
}
body {
    font-size: 15px;
}

.header_1 nav .menu li > a, .header_4 nav .menu li > a, .header_2 nav .menu > li > a {
    color: #1F1D1A;
    font-size:14px;
}

.current-menu-item.current_page_item a{
    color: #e05206!important;
    font-weight: 600!important;
}

.wpb_row.parent-col-bg-white {
    margin-bottom:10px;
}
@media (min-width: 767px) {
    .vc_col-sm-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .vc_col-sm-4:first-child {
        padding-left:15px;
    }
    .vc_col-sm-4:last-child {
        padding-right:15px;
    }
    .vc_col-sm-6 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .vc_col-sm-6:first-child {
        padding-left:15px;
    }
    .vc_col-sm-6:last-child {
        padding-right:15px;
    }
    .vc_col-sm-4 h3,
    .vc_col-sm-4 h2,
    .vc_col-sm-4 h1
    {
        margin-top: 8px;
    }
}


/*** page our-solution ***/
.page_name_our-solution .vc_separator.vc_sep_color_blue .vc_sep_line {
   border-color: #7bcee5 !important;
    border-width: 2px;
}


.page_name_our-solution > .page_sub_wrapper+.wpb_row {
    line-height: 16px;
    margin-bottom: 14px;
}

.page_name_our-solution .wpb_row h1 {
    font-size: 23px;
}
.page_name_our-solution .wpb_row h3,
.page_name_our-solution .wpb_row h2
{
    margin-bottom: 9px;
    margin-top: 0px;
}
.page_name_our-solution .wpb_row .wpb_text_column p {
    line-height: 17px;
}
.page_name_our-solution .wpb_row .link_in_circule {
    margin-top:32px;
    font-size:13px;
}

.fix_hight_employers > div > div > div {
    height: 270px;
    display: table;
    margin-bottom: 10px;
}
.fix_hight_employers > div > div > div > div {
    display: table-cell;
    height: 100%;
    vertical-align:middle;
}
/* Page hr-payroll-benefits-administration */
.page_name_hr-payroll-benefits-administration h2 {

}
#content > .page_sub_wrapper+.wpb_row h1,
#content > .page_sub_wrapper+.wpb_row h2,
#content > .page_sub_wrapper+.wpb_row h3,
#content > .page_sub_wrapper+.wpb_row h4
{
    margin-top: 42px !important;
    margin-bottom: 18px !important;
    line-height: 1em;
}


.next-section {
    margin:0 0 15px 0!important;
}
.next-section p {
    margin-bottom: 11px!important;
}
.next-section a {
    font-size:21px;
}
.next-section a::after{
    content:"\f054";
    margin-left: 10px;
   font-family: FontAwesome;
   font-size: 17px;
}

.wpb_content_element.tabs_el {
    margin-bottom:0;
}

.wpb_row:not(.without_bg) .tab-content .tab-pane .section_clear > .vc_col-sm-4  {
    font-size: 20px;
    line-height: 1.3em;
}
.without_bg .tab-content .accent_title {
    color: #e05206;
}
@media (min-width: 767px) {
    .without_bg .wpb_row .section_clear {
        display: table;
        height: 100%;
    }

    .without_bg .wpb_row {
        border-top: 8px solid #f5f5f5;
        margin-bottom: 0 !important;
    }
    .without_bg .wpb_row .vc_col-sm-4 {
        border-left: 4px solid #f5f5f5;
        border-right: 4px solid #f5f5f5;
        float: none;
        display: table-cell;
        vertical-align: top;
        height: 100%;
        padding:5px 15px 20px;
    }
    .without_bg .wpb_row .vc_col-sm-4:first-child {
        padding-left:24px;
    }
    .without_bg .wpb_row .vc_col-sm-4:last-child {
        padding-right:24px;
    }
}
@media (max-width: 767px) {
    .without_bg .wpb_row .vc_col-sm-4 {
        padding:0 0 20px 0;
    }
    .without_bg .wpb_row .vc_col-sm-4:last-child {
        padding:0 0 35px 0;
    }
}
/* more dark color for table */
.wpb_vc_table {
    color: #000;
}
.text-center  .wpb_wrapper {
    text-align:center;
}

.compare-default .column_container .wpb_wrapper {
    padding-top: 20px;
    padding-bottom:5px !important;
    /*background: red;*/
}
.page_name_about .vc_col-sm-4 > .wpb_wrapper {
    margin: 21px 20px 10px;
}
.page_name_about .vc_col-sm-4 > .wpb_wrapper .wpb_text_column  {
    margin-bottom: 23px;
}

.page_name_about .vc_col-sm-4 > .wpb_wrapper p {
    line-height: 17px;
    margin-bottom: 10px !important;
    font-size: 14px;
}

.page_name_terms h1 {
    margin-bottom: 0px;
}

.mktoFormWrapper table {
    font-size: 14px;
}
.mktoFormWrapper table td {
    height: 26px;
    padding: 0 0 10px 0;
}
.mktoFormWrapper table td:first-child {
    width: 156px;
}
.mktoFormWrapper .mktoForm .mktoButtonWrap.mktoCleanGray .mktoButton {
    height: 31px;
    text-transform: uppercase;
    color: #e05206;
    font-size: 14px;
    font-weight: bold!important;
    background: #ececec;
}

.mktoFormWrapper .mktoForm .mktoButtonRow {
    float:right;
}
.mktoFormWrapper .mktoForm {
    overflow:hidden;
}

.mktoFormWrapper .mktoForm textarea,
.mktoFormWrapper .mktoForm input,
.mktoFormWrapper .mktoForm select{
    border: 1px solid #c6c6c5 !important;
    box-shadow: none !important;
    border-radius: 4px !important;
}

.hero_header_text {
    padding: 2rem 0;
    text-align:center;
    color: white;
    font-size: 27px;
    font-weight:700;
    letter-spacing: -1px;
}
footer#footer .inner .row-fluid.ff:first-child {
    margin-bottom: 22px;
    margin-top: 15px;
}
#copyright .widget ul.footer_social_icons {
    padding-left:0;
    overflow: hidden;
}

#copyright .widget ul.footer_social_icons li {
    padding-right: 10px;
}

#copyright .widget ul.footer_social_icons li i{
    text-align: left;
}
.footer_copyright_links {
    margin:0;
    padding:0;
}
.footer_copyright_text {
    margin:0;
    padding:0;
    white-space:nowrap;
}
#footer-image{
    width: 70%;
}
@media (min-width: 981px) {
    footer#footer .inner .row-fluid.ff:first-child h4 {
        margin-top: 0;
    }
    .footer_wrapper .add-border {
        display: flex;
        height: 100%;
    }
    .footer_wrapper .add-border > div {
        display: table-cell;
        height: 100%;
    }
    .footer_wrapper .row-fluid .span3 {
        width: 50%;
        overflow:hidden;
        margin:0;
        float:none;
        vertical-align:top;
        padding-left: 12px;
        padding-right: 3px;
    }

    
    .footer_copyright_links {
        float: left;
    }
    .footer_copyright_text {
        float: right;
    }
    .right-copyright .textwidget{
        overflow: hidden;
        width: 100%;
    }


}

@media (max-width: 979px) {
    footer .ff .span3 {
        height:auto;
    }
    
    #copyright .widget ul.footer_social_icons {
        padding-left:0;
        display: block;
        overflow: hidden;
        margin: 0px auto;
        float: none;
    }
    .footer_copyright_links,
    .footer_copyright_text
    {
        display:block;
        margin:0 auto;
        text-align:center;
    }
    .footer_copyright_text {
        text-align:center;
    }
    #footer #copyright .textwidget {
        float:none;
    }
}
@media (max-width: 767px) {
    #footer #copyright .textwidget {
        padding-top: 16px;
    }
}

/* Tabs override */
#content .tabbable .nav-tabs li {
    border: none !important;
}
@media (max-width: 979px) and (min-width: 768px) {
    .tabbable .nav-tabs li {
        width: auto;
    }
}
.nav-tabs > .active > a {
    background: none;
}
@media (max-width: 979px) and (min-width: 481px) {

    .tabbable .nav-tabs li {
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-tabs > li, .nav-pills > li {
        float:none;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    .tabs_el .tabbable .nav-tabs {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

}
@media (max-width: 480px) {
    .tabbable .nav-tabs li {
        width: 99%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 979px) {
    .without_bg .tabbable .nav-tabs li {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.menu-small a {
    display: block;
    padding: 12px 0;
    font-size: 21px;
}

table.vc-table-plugin-theme-simple tr.vc-th td,
table.vc-table-plugin-theme-simple td {
    border-bottom: 1px solid #d1d1d1;
}
table.vc-table-plugin-theme-simple td {
    line-height: 20px;
    font-weight: bold;
    font-size: 13px;
    padding: 8px 13px;
}
table.vc-table-plugin-theme-simple td:first-child {
    padding-left:0px;
}
.vc_table_content .yes,
.vc_table_content .YES{
    text-indent: -9999px;
    white-space: nowrap;
    width:22px;
    height:22px;
    background: none;
    display:block;
    margin:0px auto;
    border:1px solid #e05206;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}
.vc_table_content .yes::after,
.vc_table_content .YES::after {
    content: "";
    width:20px;
    height:20px;
    background: #e05206;
    display:block;
    positon:absolute;
    margin-top:-19px;
    margin-left: 1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.vc_table_content .maybe,
.vc_table_content .MAYBE{
    text-indent: -9999px;
    white-space: nowrap;
    width:22px;
    height:22px;
    background: none;
    display:block;
    margin:0px auto;
    border:1px solid #e05206;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}
.vc_table_content .maybe::after,
.vc_table_content .MAYBE::after {
    content: "";
    width:10px;
    height:20px;
    background: #e05206;
    display:block;
    positon:absolute;
    margin-top:-19px;
    margin-left: 11px;
    border-radius: 0 90px 90px 0;
    -moz-border-radius: 0 90px 90px 0;
    -webkit-border-radius: 0 90px 90px 0;
}
.vc_table_content .no,
.vc_table_content .NO {
    text-indent: -9999px;
    white-space: nowrap;
    width:22px;
    height:22px;
    background: none;
    display:block;
    margin:0px auto;
    border:1px solid #e05206;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}

.menu-circules.add-arrow .big-circul .cirlabel {
    padding-bottom: 30px;
    font-size: 20px;
}
@media (max-width: 767px){
    :not(.no-responce).menu-circules.add-arrow .big-circul .cirlabel {
        padding-bottom: 30px;
        font-size: 15px;
    }
}
@media (max-width: 480px){
    :not(.no-responce).menu-circules.add-arrow .big-circul .cirlabel {
        font-size: 12px;
        margin-top: 5px;
    }
}

.menu-circules.add-arrow .big-circul .cirlabel::after {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    top: 60%;
    left: 45%;
}
@media (max-width: 767px){
    .menu-circules.add-arrow .big-circul .cirlabel::after {
        width: 18px;
        height: 18px;
        top: 53px;
        margin-left: -15px;
    }
}
@media (max-width: 480px){
    .menu-circules.add-arrow .big-circul .cirlabel::after {
        width: 14px;
        height: 14px;
        top: 38px;
        margin-left: -11px;
    }
}
@media (max-width: 979px){
    #footer-image{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0 2rem;
}
#footer-image img{
    max-width: 300px;
    width: 80%;
}
}
@media (max-width: 979px) and (min-width: 490px){
footer .ff .span3 {
    width: 50%;
    margin-left: 0!important;
    padding: 1rem 0;
}

}

.page_name_our-solution .list.no-padding .wpb_wrapper .vc_row.wpb_row.vc_inner.vc_row-fluid{
    
    padding: 0;
}
.the-form{
    margin-top: -55px;
}
#mktoForm_1463{
    margin: 0 auto;
}